@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-scrollbar.swiper-scrollbar-horizontal {
    height: 1px !important;
    background: #FFFFFF !important;
    margin-top: 20px;
    margin-left: 47px !important;
    margin-right: 26px !important;
    opacity: 1 !important;
    max-width: 80% !important;
    text-align: center;
}
.swiper-scrollbar-drag {
    background: #90F208 !important;
    height: 2.5px !important;
    margin-top : -0.5px !important;
    width: 82px !important;
    border-radius: 1px !important;
}
